  
 <!-- SIGN UP -->
<div class="container-fluid">
  <form class="col-4 position-absolute top-50 start-50 translate-middle border border-light p-10 m-10">
    
    <!-- Name -->
     <div class="form-outline m-4">
      <input type="username" id="name" class="form-control email-login" />
      <label class="form-label" for="email">User Name</label>
    </div>
    
    <!-- Email -->
    <div class="form-outline m-4">
      <input type="email" id="email" class="form-control email-login" />
      <label class="form-label" for="email">Email</label>
    </div>
    <!-- Password -->
    <div class="form-outline m-4">
      <input type="password" id="password" class="form-control password-login" />
      <label class="form-label" for="password">Password</label>
    </div>
   
      <!-- Submit-->
      <button id="signupnbtn" type="submit" class="btn btn-block mt-4 p-2">Log in</button>
    </div>
  </form>
</div>
<script src="/scripts/login.js"></script>